In [1]:
import pandas as pd

**Задание 1**

In [2]:
df_ratings = pd.read_csv('ml-latest-small/ratings.csv')
df_movies = pd.read_csv('ml-latest-small/movies.csv')
df = pd.merge(df_movies, df_ratings, on='movieId').filter(['title', 'rating'])

def class_ratings(row):
    if row.rating <= 2:
        return 'low rating'
    elif row.rating >= 4.5:
        return 'high rating'
    return 'middle rating'

rating_avg = df.groupby('title').mean()
rating_avg['class'] = rating_avg.apply(class_ratings, axis=1)
rating_avg.head(15)

                                           rating          class
title
"Great Performances" Cats (1998)         1.750000     low rating
$9.99 (2008)                             3.833333  middle rating
'Hellboy': The Seeds of Creation (2004)  2.000000     low rating
'Neath the Arizona Skies (1934)          0.500000     low rating
'Round Midnight (1986)                   2.250000  middle rating
'Salem's Lot (2004)                      3.500000  middle rating
'Til There Was You (1997)                2.625000  middle rating
'burbs, The (1989)                       3.052632  middle rating
'night Mother (1986)                     5.000000    high rating
(500) Days of Summer (2009)              3.755556  middle rating
*batteries not included (1987)           3.142857  middle rating
...And God Spoke (1993)                  1.000000     low rating
...And Justice for All (1979)            3.692308  middle rating
1-900 (06) (1994)                        4.000000  middle rating
10 (1979)                                2.400000  middle rating

**Задание 2**

In [3]:
df_keywords = pd.read_csv('ml-latest-small/keywords.csv')

def region_classifier(data):
    
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
    
    for key, value in geo_data.items():
        if data in value:
            return key
    return 'undefined'

df_keywords['region'] = df_keywords.keyword.apply(region_classifier)
df_keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined